<div *ngIf="!playlistsList || !profileData" class="spinner-container">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf ="playlistsList && profileData">
    <div class="header">
        <p-button label="Back" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"
            (onClick)="navigateToWelcome()"></p-button>
        <h1> Playlists </h1>
        <img src="{{profileData!.images![0].url!}}">
    </div>
    <div class="table-container">
        <p-table [value]="playlistsList!" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true" scrollHeight="500px"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 15%">Id</th>
                    <th style="width:15%">Name</th>
                    <th style="width:15%">Tracks</th>
                    <th style="width:15%">Owner</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-playlist>
                <tr>
                    <td>{{playlist.id}}</td>
                    <td>{{playlist.name}}</td>
                    <td>{{playlist.tracks.total}}</td>
                    <td>{{playlist.owner.display_name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
