<div *ngIf="!playlistsList" class="spinner-container">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf ="playlistsList">
    <playlist-cleaner-header></playlist-cleaner-header>
    <div class="table-container">
        <p-table 
            #dt
            [value]="playlistsList!"
            [paginator]="true"
            [rows]="10"
            selectionMode="single"
            (onRowSelect)="onRowSelect($event)"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            [scrollable]="true"
            scrollHeight="450px"
            [rowsPerPageOptions]="[5, 10, 20]"
            [globalFilterFields]="['name', 'tracks.total', 'owner.display_name', 'followers.total']"
        >
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-button label="Reset" size="small" [disabled]="!dt._sortField" (click)="resetTableSort()"></p-button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:15%">Playlist Image</th>
                    <th pSortableColumn="name" style="width:15%">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="tracks.total" style="width:15%">Tracks <p-sortIcon field="tracks"></p-sortIcon></th>
                    <th pSortableColumn="owner.display_name" style="width:15%">Owner <p-sortIcon field="owner"></p-sortIcon></th>
                    <th pSortableColumn="followers.total" style="width:15%">Followers <p-sortIcon field="followers"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-playlist>
                <tr [pSelectableRow]="playlist" (dblclick)="onRowDblClick(playlist)">
                    <td><img [src]="playlist.images[0].url!" width="45" class="shadow-4" /></td>
                    <td>{{playlist.name}}</td>
                    <td>{{playlist.tracks.total}}</td>
                    <td>{{playlist.owner.display_name}}</td>
                    <td>{{playlist.followers.total}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
