<div class="header">
    <p-button label="Back" icon="pi pi-arrow-left" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"
        (onClick)="navigateBackwards()">
    </p-button>
    <p class = "header-title">{{headerText}}</p>
    <div class = "header-icons" *ngIf = "profileData">
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Primary_Logo_RGB_Black.png" height="64px" class = "spotify-icon" pTooltip="Navigate to Spotify" (click)="navigateToSpotify()">
        <img src="{{profileData!.images![0].url!}}" (click)="navigateToWelcome()" class="profile-icon" pTooltip="Return to homepage">
    </div>
</div>