<div class="header">
    <p-button label="Back" icon="pi pi-arrow-left" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"
        (onClick)="navigateBackwards()">
    </p-button>
    <p class = "header-title">{{headerText}}</p>
    <div class = "header-icons" *ngIf = "profileData">
        <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Full_Logo_RGB_Black" height="64px" style="margin-right: inherit;">
        <img src="{{profileData!.images![0].url!}}" (click)="navigateToWelcome()" class="profile-icon">
    </div>
</div>