<ng-container *ngIf="duplicateTracks!.duplicateTrackSets.length > 0; else noDuplicates">
    <div *ngFor="let set of duplicateTracks.duplicateTrackSets; let setIndex = index">
        <div *ngFor="let track of duplicateTracks.duplicateTrackSets[setIndex].songs; let songIndex = index">
            <p-card header = track.name [style] = "{width: '20%'}">
                <ng-template pTemplate="header">
                    <img [src] = "track!.album!.images![0].url!" width="100%" class="shadow-4" />
                </ng-template>
                <p>{{track.name}}</p>
            </p-card>
        </div>
    </div>
</ng-container>
<ng-template #noDuplicates>
    <p>No duplicate tracks found.</p>
</ng-template>