<div class="welcome-page-div">
    <img src="../../assets/spotify-icons-logos/logos/01_RGB/02_PNG/Spotify_Logo_RGB_Green.png" height="7.5%">
    <p-card header="Welcome To Playlist Cleaner">
        <p class="m-0">
            Click the profile picture to begin
        </p>
    </p-card>
    <div class = "speed-dial-container" *ngIf="profileData != null">
        <p-speedDial icon = "p-circle" [model]="menuItems" direction="down-right" type="quarter-circle" [radius]="200" buttonClassName="p-button-success">
        </p-speedDial>
        <img [src] = "profilePictureUrl" class="custom-icon" alt="Custom Icon">
    </div>
</div>