table{
    width: 100%;
    text-align: center; 
    margin: auto;
    background-color: rgb(149, 156, 148)
}
tbody{
}
tr{
    padding: 1%;
    padding: 15%;
}
th{
    background-color: rgb(20, 147, 9);
    color: rgb(222, 222, 223);
}
td{
    overflow-y: hidden;
}